.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

img {
	height: 50px;
	margin: 16px 16px 10px 16px;
}

nz-header {
	background: #fff;
	padding: 0;
}

nz-content {
	margin: 0 16px;
}

nz-footer {
	text-align: center;
}

nz-layout {
	min-height: 100vh;
}
